@font-face {
    font-family: 'WixMadeforDisplay-VariableFont_wght';
    src: url(../fonts/WixMadeforDisplay-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Montserrat-VariableFont_wght';
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}